body {
    font-size: 23px;
    margin-left: 15px;
}

body {
    min-height: 100px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 550px;
}

table, th, td {
    border: 1px solid black;
}

.title {
    background-color:#C8C8C8;
    text-align: center;
    font-weight: bold;
}

.sum {
    width: 60px;
}

.info {
    line-height: 0px;
    margin-top: 30px;
}